/*
 * Copyright (c) 2026 Splitkb.com
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    encoder_kscan: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios = <&vik_conn 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&direct_layer {
    kscan = <&encoder_kscan>;
};
