# Copyright (c) 2020 Pete Johanson
# Copyright (c) 2026 Splitkb.com
# SPDX-License-Identifier: Apache-2.0

config BOARD_HALCYON_DONGLE
    bool "Halcyon Wireless Dongle"
	depends on SOC_NRF52840_QIAA
